body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dataTables_paginate.paging_simple_numbers ul {
  display : flex;
  align-items: center;
}
.dataTables_paginate.paging_simple_numbers ul li {
padding: 0.5rem 1rem;
background-color: #5a9cff93;
color: #0c62e4 !important;
margin-left: .2rem;
}
.dataTables_paginate.paging_simple_numbers ul li  a  {
  color: #0c62e4;
  text-decoration: none;
}
.dataTables_paginate.paging_simple_numbers ul li.selected {
background-color: #0c62e4;

}
.dataTables_paginate.paging_simple_numbers ul li.selected a {
  color: white;
}

.dataTables_paginate.paging_simple_numbers ul li.disabled {
background-color: #eee;

}
.dataTables_paginate.paging_simple_numbers ul li.disabled a{
  color: rgb(154, 150, 150);
}